* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 15px;
}

main {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  padding: 200px;
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "nav aside"
    "footer footer";
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  order: 1;
  text-align: start;
  grid-area: nav;
}

.titulo {
  font-size: 50px;
  color: #4b2250;
}

.texto {
  color: #877f88;
  font-weight: 700;
}

.estrellas {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-area: aside;
}

.estrella {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #f5f3f7;
  color: black;
  width: 350px;
  margin: 5px 0px;
  border-radius: 10px;
}

.estrella p {
  padding-top: 12px;
}

.opiniones {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-area: footer;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}

.opnion {
  background-color: #4c214f;
  height: 200px;
  width: 350px;
  border: 5px solid white;
  border-radius: 18px;
  padding: 20px;
  justify-content: center;
}

.perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perfil img {
  border-radius: 50px;
  height: 50px;
}

.perfil > div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.verificado {
  color: #ce709f;
}

.text {
  font-size: 15px;
  font-weight: 400;
  padding: 20px 0px;
}
