* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 15px;
}

main {
  justify-content: center;
  align-items: center;
  display: flex;
}

section {
  background-color: white;
  margin: 80px 20px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.titulo {
  font-size: 50px;
  padding: 20px 60px;
  color: #4b2250;
}

.texto {
  padding: 20px 40px;
  color: #877f88;
  font-weight: 700;
}

.estrellas {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.estrella {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #f5f3f7;
  color: black;
  width: 250px;
  margin: 5px 0px;
  border-radius: 10px;
}

.estrella p {
  padding-top: 12px;
}

.opiniones {
  display: flex;
  flex: 5;
  flex-direction: column;
  align-items: center;
}

.opnion {
  background-color: #4c214f;
  height: 200px;
  width: 350px;
  border: 5px solid white;
  border-radius: 18px;
  padding: 20px;
}

.perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perfil img {
  border-radius: 50px;
  height: 50px;
}

.perfil > div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.verificado {
  color: #ce709f;
}

.text {
  font-size: 15px;
  font-weight: 400;
  padding: 20px 0px;
}

@media (min-width: 700px) {
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section {
    height: 100%;
    margin: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .todo {
    display: flex;
    flex-direction: row;
  }

  .container {
    display: flex;
    order: 1;
    height: 200px;
    width: 500px;
    text-align: start;
  }

  .titulo {
    margin: 0;
    padding: 0px 148px 0px 0px;
  }

  .texto {
    padding: 20px 80px 0px 0px;
  }

  .estrellas {
    display: flex;
    order: 2;
    height: 200px;
    width: 500px;
  }

  .opiniones {
    display: flex;
    order: 3;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 100px;
  }

  .opnion {
    border: 5px solid white;
    height: auto;
  }
}
